<div class="page">
  <div class="navbar">
      <div class="statusbar"></div>
      <div class="panel panel-left panel-cover">
        <div class="page">
          <div class="page-content">
            <div class="block-title">Left Panel</div>
            <div class="block">
              <p>This is a left side panel. You can close it by clicking outsite or on this link: <a href="#" class="panel-close">close me</a>. You can put here anything, even another isolated view like in <a href="#" data-panel="right" class="panel-open">Right Panel</a></p>
            </div>
            <div class="block-title">Main View Navigation</div>
            <div class="list">
              <ul>
                <li>
                  <a href="/" class="item-link item-content panel-close">
                    <div class="item-media"><i class="icon icon-f7"></i></div>
                    <div class="item-inner">
                      <div class="item-title">Home</div>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="/pengantar/" class="item-link item-content panel-close">
                    <div class="item-media"><i class="icon icon-f7"></i></div>
                    <div class="item-inner">
                      <div class="item-title">Pengantar</div>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="/panel-right-2/" class="item-link item-content panel-close">
                    <div class="item-media"><i class="icon icon-f7"></i></div>
                    <div class="item-inner">
                      <div class="item-title">Pendahuluan</div>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="/accordion/" class="item-link item-content panel-close">
                    <div class="item-media"><i class="icon icon-f7"></i></div>
                    <div class="item-inner">
                      <div class="item-title">Capaian Pembelajaran</div>
                    </div>
                  </a>
                </li>
                <li class="accordion-item">
                    <a href="#" class="item-link item-content">
                      <div class="item-media"><i class="icon icon-f7"></i></div>
                      <div class="item-inner">
                        <div class="item-title">Kegiatan Belajar</div>
                      </div>
                    </a>
                    <div class="accordion-item-content" style="" aria-hidden="true">
                      <div class="block">
                          <a href="#" class="item-link item-content">
                            <div class="item-media"></div>
                            <div class="item-inner">
                              <div class="item-title">Kegiatan 1</div>
                            </div>
                          </a>
                          <a href="#" class="item-link item-content">
                            <div class="item-media"></div>
                            <div class="item-inner">
                              <div class="item-title">Kegiatan 2</div>
                            </div>
                          </a>
                          <a href="#" class="item-link item-content">
                            <div class="item-media"></div>
                            <div class="item-inner">
                              <div class="item-title">Kegiatan 3</div>
                            </div>
                          </a>
                      </div>
                    </div>
                  </li>
                <li>
                  <a href="/accordion/" class="item-link item-content panel-close">
                    <div class="item-media"><i class="icon icon-f7"></i></div>
                    <div class="item-inner">
                      <div class="item-title">Glosarium</div>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="/accordion/" class="item-link item-content panel-close">
                    <div class="item-media"><i class="icon icon-f7"></i></div>
                    <div class="item-inner">
                      <div class="item-title">Daftar Pustaka</div>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="/profiles/" class="item-link item-content panel-close">
                    <div class="item-media"><i class="icon icon-f7"></i></div>
                    <div class="item-inner">
                      <div class="item-title">Profiles</div>
                    </div>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="view view-main view-init safe-areas" data-master-detail-breakpoint="800" data-url="/">
        <div class="page">
          <div class="navbar">
            <div class="navbar-inner">
              <div class="left">
                <a href="#" class="link icon-only panel-open" data-panel="left">
                  <i class="icon f7-icons ios-only">menu</i>
                  <i class="icon material-icons md-only">menu</i>
                </a>
              </div>
              <div class="title home-title">Pengantar</div>
            </div>
          </div>
        </div>
      </div>
  </div>
  <div class="page-content">
    <div class="block-title text-align-center">
      <h1>Generasi bla bla</h1> 
    </div>
    <div class="text-align-center">
      <img src="../www/assets/img/uny.png" style="width:100px; height:auto;">
      <p>Gambar</p>
      <p>sumber</p>
    </div>
    <div class="block">
      Pada kegiatan belajar 1
      <ol>
        <li>konsep</li>
        <li>konsep</li>
        <li>konsep</li>
      </ol>
    </div>
    <div class="list accordion-list">
      <ul>
        <li class="accordion-item"><a href="#" class="item-content item-link">
            <div class="item-inner">
              <div class="item-title">Materi</div>
            </div></a>
          <div class="accordion-item-content">
            <div class="list accordion-list">
              <ul>
                <li class="accordion-item"><a href="#" class="item-content item-link">
                    <div class="item-inner item-inner-inner">
                      <div class="item-title">Judul materi 1</div>
                    </div></a>
                  <div class="accordion-item-content item-inner-inner">
                    <div class="block">
                      <p>Isi materi</p>
                      <ol>
                        <li>asd</li>
                        <li>asd</li>
                        <li>asd</li>
                        <li>asd</li>
                        <li>asd</li>
                      </ol>
                    </div>
                  </div>
                </li>
                <li class="accordion-item"><a href="#" class="item-content item-link">
                    <div class="item-inner">
                      <div class="item-title item-inner-inner">Judul materi 2</div>
                    </div></a>
                  <div class="accordion-item-content item-inner-inner">
                    <div class="block">
                      <p>Isi materi</p>
                      <ol>
                        <li>asd</li>
                        <li>asd</li>
                        <li>asd</li>
                        <li>asd</li>
                        <li>asd</li>
                      </ol>
                    </div>
                  </div>
                </li>
                <li class="accordion-item"><a href="#" class="item-content item-link">
                    <div class="item-inner">
                      <div class="item-title item-inner-inner">Judul materi 3</div>
                    </div></a>
                  <div class="accordion-item-content item-inner-inner">
                    <div class="block">
                      <p>Isi materi</p>
                      <ol>
                        <li>asd</li>
                        <li>asd</li>
                        <li>asd</li>
                        <li>asd</li>
                        <li>asd</li>
                      </ol>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li class="accordion-item"><a href="#" class="item-content item-link">
            <div class="item-inner">
              <div class="item-title">Latihan</div>
            </div></a>
          <div class="accordion-item-content">
            <div class="block">
              <p>Isi materi</p>

              <!-- neg perlu angka -->
              <ol>
                <li>asd</li>
                <li>asd</li>
                <li>asd</li>
                <li>asd</li>
                <li>asd</li>
              </ol>
              <!-- sampai sini -->
            </div>
          </div>
        </li>
        <li class="accordion-item"><a href="#" class="item-content item-link">
            <div class="item-inner">
              <div class="item-title">Rangkuman</div>
            </div></a>
          <div class="accordion-item-content">
            <div class="block">
              <p>Isi materi</p>
              <ol>
                <li>asd</li>
                <li>asd</li>
                <li>asd</li>
                <li>asd</li>
                <li>asd</li>
              </ol>
            </div>
          </div>
        </li>
        <li class="accordion-item"><a href="#" class="item-content item-link">
            <div class="item-inner">
              <div class="item-title">Tes Formatif</div>
            </div></a>
          <div class="accordion-item-content">
            <div class="block">
              <p>Isi materi</p>
              <ol>
                <li>asd</li>
                <li>asd</li>
                <li>asd</li>
                <li>asd</li>
                <li>asd</li>
              </ol>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>

</div>
