<div class="page">
  <div class="navbar">
    <div class="statusbar"></div>
    <div class="panel panel-left panel-cover">
      <div class="page">
        <div class="page-content">
          <div class="block-title">Left Panel</div>
          <div class="block">
            <p>This is a left side panel. You can close it by clicking outsite or on this link: <a href="#" class="panel-close">close me</a>. You can put here anything, even another isolated view like in <a href="#" data-panel="right" class="panel-open">Right Panel</a></p>
          </div>
          <div class="block-title">Main View Navigation</div>
          <div class="list">
            <ul>
              <li>
                <a href="/" class="item-link item-content panel-close">
                  <div class="item-media"><i class="icon icon-f7"></i></div>
                  <div class="item-inner">
                    <div class="item-title">Home</div>
                  </div>
                </a>
              </li>
              <li>
                <a href="/pengantar/" class="item-link item-content panel-close">
                  <div class="item-media"><i class="icon icon-f7"></i></div>
                  <div class="item-inner">
                    <div class="item-title">Pengantar</div>
                  </div>
                </a>
              </li>
              <li>
                <a href="/panel-right-2/" class="item-link item-content panel-close">
                  <div class="item-media"><i class="icon icon-f7"></i></div>
                  <div class="item-inner">
                    <div class="item-title">Pendahuluan</div>
                  </div>
                </a>
              </li>
              <li>
                <a href="/accordion/" class="item-link item-content panel-close">
                  <div class="item-media"><i class="icon icon-f7"></i></div>
                  <div class="item-inner">
                    <div class="item-title">Capaian Pembelajaran</div>
                  </div>
                </a>
              </li>
              <li class="accordion-item">
                  <a href="#" class="item-link item-content">
                    <div class="item-media"><i class="icon icon-f7"></i></div>
                    <div class="item-inner">
                      <div class="item-title">Kegiatan Belajar</div>
                    </div>
                  </a>
                  <div class="accordion-item-content" style="" aria-hidden="true">
                    <div class="block">
                        <a href="#" class="item-link item-content">
                          <div class="item-media"></div>
                          <div class="item-inner">
                            <div class="item-title">Kegiatan 1</div>
                          </div>
                        </a>
                        <a href="#" class="item-link item-content">
                          <div class="item-media"></div>
                          <div class="item-inner">
                            <div class="item-title">Kegiatan 2</div>
                          </div>
                        </a>
                        <a href="#" class="item-link item-content">
                          <div class="item-media"></div>
                          <div class="item-inner">
                            <div class="item-title">Kegiatan 3</div>
                          </div>
                        </a>
                    </div>
                  </div>
                </li>
              <li>
                <a href="/accordion/" class="item-link item-content panel-close">
                  <div class="item-media"><i class="icon icon-f7"></i></div>
                  <div class="item-inner">
                    <div class="item-title">Glosarium</div>
                  </div>
                </a>
              </li>
              <li>
                <a href="/accordion/" class="item-link item-content panel-close">
                  <div class="item-media"><i class="icon icon-f7"></i></div>
                  <div class="item-inner">
                    <div class="item-title">Daftar Pustaka</div>
                  </div>
                </a>
              </li>
              <li>
                <a href="/profiles/" class="item-link item-content panel-close">
                  <div class="item-media"><i class="icon icon-f7"></i></div>
                  <div class="item-inner">
                    <div class="item-title">Profiles</div>
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="view view-main view-init safe-areas" data-master-detail-breakpoint="800" data-url="/">
      <div class="page">
        <div class="navbar">
          <div class="navbar-inner">
            <div class="left">
              <a href="#" class="link icon-only panel-open" data-panel="left">
                <i class="icon f7-icons ios-only">menu</i>
                <i class="icon material-icons md-only">menu</i>
              </a>
            </div>
            <div class="title home-title">Pengantar</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="page-content">
    <div class="block">
      <p>Framework7 allows you to be flexible with list views (table views). You can make them as navigation menus, you can use there icons, inputs, and any elements inside of the list, and even make them nested:</p>
    </div>
    <div class="block-title">Inset</div>
    <div class="list media-list inset">
      <ul>
        <li>
          <a href="#" class="item-link item-content">
            <div class="item-media"><img src="https://cdn.framework7.io/placeholder/fashion-88x88-4.jpg" width="44"/></div>
            <div class="item-inner">
              <div class="item-title-row">
                <div class="item-title">Yellow Submarine</div>
              </div>
              <div class="item-subtitle">Beatles</div>
            </div>
          </a>
        </li>
        <li>
          <a href="#" class="item-link item-content">
            <div class="item-media"><img src="https://cdn.framework7.io/placeholder/fashion-88x88-5.jpg" width="44"/></div>
            <div class="item-inner">
              <div class="item-title-row">
                <div class="item-title">Don't Stop Me Now</div>
              </div>
              <div class="item-subtitle">Queen</div>
            </div>
          </a>
        </li>
        <li>
          <a href="#" class="item-link item-content">
            <div class="item-media"><img src="https://cdn.framework7.io/placeholder/fashion-88x88-6.jpg" width="44"/></div>
            <div class="item-inner">
              <div class="item-title-row">
                <div class="item-title">Billie Jean</div>
              </div>
              <div class="item-subtitle">Michael Jackson</div>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
