<div class="page">
  <div class="navbar">
      <div class="statusbar"></div>
      <div class="panel panel-left panel-cover">
        <div class="page">
          <div class="page-content">
            <div class="block-title">Left Panel</div>
            <div class="block">
              <p>This is a left side panel. You can close it by clicking outsite or on this link: <a href="#" class="panel-close">close me</a>. You can put here anything, even another isolated view like in <a href="#" data-panel="right" class="panel-open">Right Panel</a></p>
            </div>
            <div class="block-title">Main View Navigation</div>
            <div class="list">
              <ul>
                <li>
                  <a href="/" class="item-link item-content panel-close">
                    <div class="item-media"><i class="icon icon-f7"></i></div>
                    <div class="item-inner">
                      <div class="item-title">Home</div>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="/pengantar/" class="item-link item-content panel-close">
                    <div class="item-media"><i class="icon icon-f7"></i></div>
                    <div class="item-inner">
                      <div class="item-title">Kegiatan Belajar</div>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="/panel-right-2/" class="item-link item-content panel-close">
                    <div class="item-media"><i class="icon icon-f7"></i></div>
                    <div class="item-inner">
                      <div class="item-title">Pendahuluan</div>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="/accordion/" class="item-link item-content panel-close">
                    <div class="item-media"><i class="icon icon-f7"></i></div>
                    <div class="item-inner">
                      <div class="item-title">Capaian Pembelajaran</div>
                    </div>
                  </a>
                </li>
                <li class="accordion-item">
                    <a href="#" class="item-link item-content">
                      <div class="item-media"><i class="icon icon-f7"></i></div>
                      <div class="item-inner">
                        <div class="item-title">Kegiatan Belajar</div>
                      </div>
                    </a>
                    <div class="accordion-item-content" style="" aria-hidden="true">
                      <div class="block">
                          <a href="#" class="item-link item-content">
                            <div class="item-media"></div>
                            <div class="item-inner">
                              <div class="item-title">Kegiatan 1</div>
                            </div>
                          </a>
                          <a href="#" class="item-link item-content">
                            <div class="item-media"></div>
                            <div class="item-inner">
                              <div class="item-title">Kegiatan 2</div>
                            </div>
                          </a>
                          <a href="#" class="item-link item-content">
                            <div class="item-media"></div>
                            <div class="item-inner">
                              <div class="item-title">Kegiatan 3</div>
                            </div>
                          </a>
                      </div>
                    </div>
                  </li>
                <li>
                  <a href="/accordion/" class="item-link item-content panel-close">
                    <div class="item-media"><i class="icon icon-f7"></i></div>
                    <div class="item-inner">
                      <div class="item-title">Glosarium</div>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="/accordion/" class="item-link item-content panel-close">
                    <div class="item-media"><i class="icon icon-f7"></i></div>
                    <div class="item-inner">
                      <div class="item-title">Daftar Pustaka</div>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="/profiles/" class="item-link item-content panel-close">
                    <div class="item-media"><i class="icon icon-f7"></i></div>
                    <div class="item-inner">
                      <div class="item-title">Profiles</div>
                    </div>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="view view-main view-init safe-areas" data-master-detail-breakpoint="800" data-url="/">
        <div class="page">
          <div class="navbar">
            <div class="navbar-inner">
              <div class="left">
                <a href="#" class="link icon-only panel-open" data-panel="left">
                  <i class="icon f7-icons ios-only">menu</i>
                  <i class="icon material-icons md-only">menu</i>
                </a>
              </div>
              <div class="title home-title">Kegiatan Belajar ke 2</div>
            </div>
          </div>
        </div>
      </div>
  </div>
  <div class="page-content" style="background: url(assets/homee.png) no-repeat; background-position: center; background-size: cover;">
    <div class="block" style="text-align: center;">
      <strong>PENGGUNAAN MEDIA DIGITAL</strong> 
    </div>
    <div class="text-align-center">
      <img src="../www/assets/img/uny.png" style="width:100px; height:auto;">
      <p>Gambar</p>
      <p>sumber</p>
    </div>
    <div class="block block-strong pengantar-paragraf" style="text-align: justify;">
      <p>Hai, Bunda… Sebelumnya saya ingin bertanya, apakah Bunda masih mengingat era digital? Era digital merupakan suatu masa di mana sebagian besar atau seluruh masyarakat menggunakan teknologi dalam kehidupan sehari-hari. Teknologi yang semakin canggih membuat kehidupan menjadi lebih mudah dan cepat. Tentunya dalam perkembangan teknologi ini ada banyak jenis-jenis teknologi yang berkembang sangat pesat. Apa saja macam-macam teknologi yang sedang berkembang? Dan apakah Bunda sudah tahu apa itu media digital? Kalau Bunda belum tahu, yuk kita belajar bersama agar nantinya Bunda menjadi orang tua yang gaul dan anti stres dalam menghadapi anak-anak era sekarang.</p>
    </div>
    <div class="list accordion-list">
      <ul>
        <li class="accordion-item"><a href="#" class="item-content item-link">
            <div class="item-inner">
              <div class="item-title">Materi</div>
            </div></a>
          <div class="accordion-item-content">
            <div class="list accordion-list">
              <ul>
                <li class="accordion-item"><a href="#" class="item-content item-link">
                    <div class="item-inner item-inner-inner">
                      <div class="item-title">MEDIA DIGITAL</div>
                    </div></a>
                  <div class="accordion-item-content item-inner-inner">
                    <div class="block">                    
                      <div class="block" style="text-align: justify;">
                        <div class="block block-strong pengantar-paragraf">
                          <p>Media digital merupakan bentuk media elektronik yang menyimpan data dalam wujud digital sehingga dapat diakses di mana saja dan kapan saja. Media digital dapat berupa hardware dan software. Contoh media digital yang berbentuk hardware, misalnya televisi, radio, gadget, laptop, dan lain-lain. Media digital berbentuk software dapat berupa video games, internet, ataupun jenis aplikasi software pendukung. Apakah masih bingung apa itu media digital? Kalau begitu, saya akan menjelaskan karakteristik dari media digital agar Bunda lebih memahaminya. Berikut karakteristik dari media digital, yaitu:</p>
                          <ol>
                            <li>Interaktivitas</li>
                            <p>Interaktivitas yang dimaksud, yaitu memungkinkan semua orang, termasuk pembaca yang awam sekalipun dapat terlibat langsung dalam proses diskusi atau saling mengomentari sebuah berita atau sebuah komentar dari seseorang tertentu di dalam suatu berita tersebut. Tidak peduli apakah Bunda orang ahli atau bukan, tidak peduli apa profesi Bunda, dan tidak peduli apakah Bunda sudah dewasa atau belum. Ruang untuk terlibat dalam diskusi sangat luas karena terdapat fitur semacam komentar yang menyediakan akses untuk berinteraksi dengan media ataupun dengan orang lain.</p>
                            <li>Kebebasan Berekspresi</li>
                            <p>Kebebasan berekspresi dimiliki oleh semua orang yang terlibat dalam media digital, akan tetapi tetap ada batasnya. Misalnya dalam kolom komentar, Bunda boleh tidak setuju atau setuju pada isi berita, menyampaikannya. Akan tetapi, apabila isi komentar sudah mengarah pada topik-topik yang dapat memecah belah ataupun menyerang karakter orang, dapat mengakibatkan pengguna tersebut dikenai sanksi tertentu. Oleh karena itu, etika komunikasi di internet tetap perlu diperhatikan.</p>
                            <li>Akses Cepat</li>
                            <p>Karakteristik berikutnya, yaitu akses cepat. Maksudnya, media digital memiliki kecepatan akses dan kecepatan update berita yang dapat terjadi hampir setiap detik. Jadi, apa saja yang akan diposting pada media digital tentunya akan selalu bersifat baru dan dapat langsung dibaca oleh masyarakat umum.</p>
                            <li>Hipertekstual</li>
                            <p>Hipertekstual memungkinkan pengguna untuk mengakses konten yang lain dengan cepat melalui mengklik teks tersebut dengan menggunakan perangkat mouse ataupun dengan disentuh langsung pada smartphone. Adanya hiperteks membuat orang dapat dengan mudah berpindah konten, melakukan pencarian konten, dan lain sebagainya.</p>
                            <li>Virtual</li>
                            <p>Objek ataupun benda-benda yang kita klik atau dilihat tidak memiliki objek fisik sebagaimana media massa yang lain seperti misalnya majalah, dan lain sebagainya. Identitas kita pun bisa dengan mudah kita buat dengan asal, ketika kita ingin berkomentar pada media tersebut. Selain itu, kita juga dapat terhubung dan mengakses segalanya dengan mudah di dunia digital.</p>
                            <li>Connected</li>
                            <p>Connected memungkinkan konten ataupun pengguna di media dapat saling terhubung dengan media lain yang ada di internet. Misalnya, akun email yang terkoneksi dengan fitur media lain, atau akun sosial media yang dapat digunakan untuk berlangganan di salah satu media massa online, dan lain sebagainya. Pengguna dapat menggunakan satu akun email untuk terhubung ke berbagai jenis media dan melakukan aktivitas komentar, membaca, berlangganan, dan lain sebagainya.</p>
                            <li>Diversifikasi Konten</li>
                            <p>Diversifikasi konten merupakan suatu informasi berupa teks yang dikolaborasikan dengan video, reportase, gambar, maupun live broadcast yang dapat diakses secara langsung tanpa perlu berpindahpindah dari satu situs. Oleh karena itu, setiap orang dapat menggunakan media digital untuk melakukan banyak hal.</p>
                            <li>Jangkauan Luas</li>
                            <p>Media digital memungkinkan seseorang untuk saling terhubung dan dapat diakses oleh semua orang dari semua wilayah maupun segala usia. Namun, ternyata Bunda juga perlu waspada karena informasi tertentu bisa diakses oleh orang yang tidak pantas mengakses informasi tersebut.</p>
                            <li>Gratis</li>
                            <p>Seseorang yang ingin mengakses suatu konten di media digital tentunya akan bersifat gratis, kecuali untuk berlangganan. Oleh karena itu, akan memudahkan semua orang dapat mengakses berita ataupun mencari informasi yang sedang dibutuhkan secara gratis.</p>
                          </ol>
                          <p>Bunda sekarang sudah tahu tentang apa itu media digital dan karakteristiknya, bukan? Media digital yang sedang berkembang begitu pesat saat ini, seperti gadget, internet, dan aplikasi software pendukung. Media digital memang berkembang begitu cepat, namun bukan berarti selalu menghasilkan keuntungan bagi kita dan anak kita. Namun, bisa menjadi momok terbesar untuk perkembangan anak kita. Tentunya Bunda tidak ingin memiliki anak yang berkarakter buruk, bukan? Oleh karena itu, sebagai orang tua tentunya kita harus cepat tanggap dalam perkembangan media digital saat ini. </p>
                          <p>Bunda tentunya harus menjadi orang tua yang tidak kalah gaul dari anak agar mengetahui apa saja aktivitas yang dilakukan sang anak dengan gadgetnya. Bunda harus selalu mengikuti perkembangan dunia digital. Mengapa? Karena semakin berkembangnya dunia digital, semakin banyak pengaruh untuk tumbuh kembang seorang anak.</p>
                        </div>
                      </div>                    
                    </div>
                  </div>
                </li>
                <li class="accordion-item"><a href="#" class="item-content item-link">
                    <div class="item-inner">
                      <div class="item-title item-inner-inner">DAMPAK POSITIF DAN NEGATIF PENGGUNAAN
                        MEDIA DIGITAL</div>
                    </div></a>
                    <div class="accordion-item-content item-inner-inner">
                      <div class="block">                    
                        <div class="block" style="text-align: justify;">
                          <div class="block block-strong pengantar-paragraf">
                            <p>Perkembangan teknologi tentunya memiliki banyak pengaruh bagi masyarakat, khususnya di kalangan anak-anak. Jika teknologi digunakan secara berlebihan maka akan menimbulkan pengaruh negatif pada anak, namun jika digunakan sebaik-baiknya maka akan mendapatkan manfaat dari penggunaan teknologi tersebut. Bunda, berikut ini pengaruh negatif media digital jika digunakan secara berlebihan.</p>
                            <ol style="padding-bottom: 10px;">
                              <li>Paparan Radiasi yang Berlebihan</li>
                              <p>Anak yang terlalu berlebihan dalam menggunakan gadget akan mengalami gangguan pada mata, yaitu miopi (mata minus). Hal ini dikarenakan timbulnya ketegangan pada mata dan kerja otot mata menjadi berat dalam mengatur fokus. Palo Alto Medical Foundation (Wijanarko dan Setiawati, 2016: 33) mengatakan bahwa pemakaian gadget berlebihan yang menghabiskan setidaknya empat jam sehari akan memberikan pengaruh buruk pada kesehatan mata. Oleh karena itu, harus pastikan anak Bunda selalu aktif dalam berbagai kegiatan agar kesehatan dan perkembangan tubuh anak tetap terjaga. Cobalah, Bunda mengajak anak bermain di luar untuk mengurangi paparan layar gadget yang berlebihan.</p>
                              <li>Menjadi Pribadi yang Malas</li>
                              <p>Anak yang terlalu sering mengoperasikan gadget akan lebih cenderung malas bergerak maupun melakukan hal-hal lain, seperti menjadi malas makan, malas belajar, malas mandi, maupun malas menuruti perintah orang tua. Selain itu, kebiasaan bermain gadget akan membuat anak malas untuk bercengkerama dengan buku. Mereka akan kesulitan memahami sesuatu karena fokusnya hanya pada permainan dan aplikasi favoritnya dalam gadget. Tentunya, Bunda tidak ingin buah hatinya seperti ini, bukan?</p>
                              <li>Terciptanya Sikap Kurang Disiplin</li>
                              <p>Ketika Bunda memberikan gadget pada anak tanpa diberikan pengertian tentang penggunaan atau penerapan peraturan ketat akan membuat anak menjadi tidak disiplin. Anak akan lama menghabiskan waktu untuk bermain dan mulai terbiasa untuk menunda kewajibannya. Porsi tidur anak pun juga dapat berkurang sehingga tidak bisa bangun tepat waktu untuk pergi ke sekolah. Untuk itu, pemberian gadget perlu disertai dengan pengawasan Bunda serta komunikasi yang kuat tentang peraturan dan ketentuan anak dalam bermain gadget.</p>
                              <li>Sulit Bersosialisasi</li>
                              <p>Apakah anak Bunda sulit untuk bersosialisasi dengan temannya? Kalau iya, ini dapat menjadi salah satu faktor dari penggunaan gadget yang berlebihan. Terlalu banyak menghabiskan waktu dengan gadget akan membuat anak tidak memiliki waktu untuk bermain bersama teman sebayanya. Hal ini berdampak pada kemampuan anak untuk bersosialisasi dan berkomunikasi. Ternyata penggunaan gadget dapat membuat anak menjadi kurang mampu bersosialisasi dengan baik dan tidak bisa bersikap mandiri dalam menyelesaikan masalah. Padahal, perkembangan emosi dan kemampuan bersosialisasi anak merupakan hal yang paling berpengaruh di masa awal kehidupannya (Shin, 2013: 41).</p>
                              <li>Tumbuh Kembang Anak Terhambat</li>
                              <p>Anak yang aktif bermain gadget cenderung mengalami keterlambatan proses perkembangan atau bahkan menghambat perkembangan fisiknya. Contohnya, ada balita yang seharusnya sudah bisa berjalan dengan lancar, namun karena sudah diberikan gadget oleh orang tuanya, maka tumbuh kembang proses berjalannya menjadi terhambat. Contoh lain, ada anak kelas 2 seharusnya sudah bisa mengendarai sepeda, namun ternyata ia malah tidak mau bermain sepeda dan lebih memilih bermain dengan gadget. Selain itu, ada anak TK yang tidak bisa berbicara dengan artikulasi jelas. Hal ini disebabkan ternyata sejak kecil sudah diberikan gadget dan sangat jarang berkomunikasi dengan orang tuanya.</p>
                              <li>Mengganggu Perkembangan Psikologis Anak</li>
                              <p>Perkembangan psikologis anak dapat terganggu karena adanya permainan-permainan yang mempunyai unsur kekerasan, peperangan, ataupun saling menyakiti satu dengan lainnya. Anak akan cenderung ingin melakukan hal yang sama seperti halnya yang terdapat di gadget. Bunda pasti sering melihat berita tentang kasus anak yang sering memukuli teman sebayanya, bukan? Ya, hal ini karena pengaruh tontonan dan permainan dari gadget yang tidak diawasi oleh orang tua sehingga membentuk pola pemikiran negatif seperti di atas (Wijanarko dan Setiawati, 2016: 23). Tidak heran jika sekarang Bunda banyak menemukan berita kasus kekerasan yang dilakukan anak.</p>
                              <li>Mengubah Perilaku Anak</li>
                              <p>Suatu ketika, Bu Rita mengajak putrinya bernama Riri bermain ke rumah kami. Bu Rita meminta Riri untuk bermain bersama temantemannya, namun ternyata ia lebih memilih bermain gadget. Lalu, tiba-tiba Bu Rita mengambil gadget yang sedang dimainkan Riri agar ia mau bergabung bermain dengan temannya. Namun, saya terkejut karena Riri membentak ibunya yang telah mengambil gadgetnya. Saya tidak menyangka jika perilaku Riri berubah menjadi agresif dan berani membentak ibunya. Kecanduan gadget dapat merubah perilaku anak menjadi buruk. Hal ini harus menjadi perhatian orang tua agar selalu memantau perkembangan psikologis anak. Yuk, Bunda kita bersama-sama melek dan sadar dalam memaknai kecanggihan teknologi.</p>
                              <li>Komunikasi antara Anak dan Orang Tua menjadi Jauh</li>
                              <p>Orang tua yang terlalu sibuk dengan pekerjaan akan menjadi faktor kurangnya interaksi antara orang tua dengan anak. Hal ini dapat menyebabkan renggangnya hubungan keluarga yang kurang harmonis. Para penelitipun meyakini bahwa apabila anak semakin tergantung pada gadget, maka hubungannya dengan orang tua pun akan merenggang (Wijanarko dan Setiawati, 2016: 36). Hal ini dikarenakan orang tua menjadi figur teladan di mata anak sehingga segala apapun yang dilakukan oleh orang tua akan ditiru oleh anak. Jadi, meskipun Bunda sibuk dan ketika mempunyai waktu luang sebaiknya tetap melakukan interaksi pada anak seperti berbincangbincang, bermain bersama, makan bersama, maupun berlibur bersama. Membatasi penggunaan gadget juga diperlukan karena dapat menjadi cara mengurangi ketergantungan anak bermain gadget.</p>
                              <li>Terhambatnya Kecerdasan Emosional Anak</li>
                              <p>Permainan atau games yang terdapat pada teknologi dapat menjadi suatu hal negatif yang dapat membuat siswa menjadi tidak peduli dengan lingkungannya. Akibatnya, kepekaan terhadap lingkungan sosial dan kecerdasan emosional anak tidak akan berkembang. Ketika anak sudah tidak mempunyai kecerdasan emosional, maka dapat dipastikan tidak akan munculnya rasa peduli dan empati.</p>
                            </ol>
                            <p>Bunda, sudah tahu bukan apa saja dampak negatif dari gadget jika digunakan secara berlebihan terutama bagi anak. Oleh karena itu, Bunda harus dapat mengawasi dan membatasi penggunaan gadget anak. Namun, jangan salah sangka Bunda meskipun banyak dampak negatif dari penggunaan gagdet, ternyata gadget juga memiliki dampak positif. Adapun dampak positif gadget bagi anak, sebagai berikut.</p>
                            <ol>
                              <li>Melatih Fungsi Otak</li>
                              <p>Permainan asah otak diyakini cukup ampuh untuk melatih fungsi otak. Selain itu, permainan ini dapat mencegah alzheimer, yaitu kelainan yang ditandai dengan penurunan daya ingat, kemampuan berpikir dan berbicara, serta perubahan perilaku. Bunda tahu tidak, salah satu cara mencegah alzheimer, yaitu dengan bermain game. Cara ini dapat membuat otak tetap aktif bekerja. Namun, Bunda harus memilih permainan yang memang bertujuan untuk mengasah otak bukan hanya sekedar permainan yang bersifat menyenangkan saja. Semua jenis game asah otak dapat Bunda unduh di Playstore. Contoh game asah otak, misalnya Fit Brains Trainer, NeuroNation, dan lainlain. Tugas Bunda adalah harus terampil dan selektif dalam memilih permainan asah otak yang sesuai dengan kebutuhan dan usia anak.</p>
                              <li>Meningkatkan Kemampuan Berbahasa</li>
                              <p>Bunda, ternyata gadget dapat meningkatkan kemampuan berbahasa asing anak, lho! Salah satunya melalui games karena petunjuk permainan online biasanya akan menggunakan bahasa asing, seperti bahasa Inggris. Bahkan, ada permainan khusus untuk anak usia balita, seperti pengenalan benda dan warna dalam dua bahasa sekaligus, yaitu bahasa Indonesia dan bahasa Inggris. Melalui media ini, anak akan dapat menirukan dengan baik seperti yang dicontohkan. Trial and error dalam menerjemahkan bahasa program membuat anak memahami tulisan dan bahasa asing yang digunakan untuk mengoperasikan games tersebut.</p>
                              <li>Meningkatkan Keterampilan Matematis</li>
                              <p>Seorang anak yang menggunakan gadget akan memiliki keterampilan matematis? Apa itu keterampilan matematis? Kecermatan melihat bentuk bangun dan ketepatan meletakkan bangun pada bidang datar. Ya, kemampuan semacam ini bisa ditemui ketika anak sedang memainkan sebuah permainan edukatif, seperti Zuma, Marbels, Tetris, maupun Angry Birds. Sudah banyak permainan edukatif matematis yang dapat digunakan untuk meningkatkan keterampilan matematis pada anak.</p>
                              <li>Meningkatkan Ketajaman Penglihatan</li>
                              <p>Saat bermain games, mata anak akan terlatih untuk fokus melihat sehingga otak dapat menyerap dan menganalisis sebuah informasi visual yang masuk dengan cepat. Salah satu permainan yang dapat merangsang ketajaman penglihatan anak, yaitu permainan balap mobil. Saat memainkan, anak dituntut jeli melihat pergerakan mobil melintasi jalan berkelok-kelok atau saat berpapasan dengan mobil lainnya. Pada saat bersamaan, kemampuan motorik anak akan ikut terasah, yaitu saat menggerakkan mobil yang dimainkannya.</p>
                              <li>Mendukung Aspek Akademis</li>
                              <p>Adanya teknologi gadget sebenarnya dapat mendukung akademis anak. Seorang anak dapat melakukan browsing dengan gadget akan mudah untuk mencari informasi tentang pengetahuan yang didapat dari sekolah. Jadi mereka tidak perlu bersusah payah mencari katalog buku di perpustakaan untuk mencari informasi yang berkaitan dengan pengetahuan.</p>
                              <p>Beberapa tenaga pendidik menyadari adanya kemajuan teknologi ini mendukung pendidikan anak, dengan membuat program sederhana atau perangkat lunak yang digunakan sebagai media pembelajaran. Jangan pula Anda langsung menuduh games adalah penyebab anjloknya nilai rapor anak Bunda. Main games dengan batasan waktu yang sesuai ternyata juga dapat merangsang keterampilan membaca anak. Hal itu dikarenakan dalam games, seorang pemain dituntut untuk membaca petunjuk permainan.</p>
                              <li>Materi Pelajaran yang Inovatif</li>
                              <p>Pembelajaran inovatif merupakan proses pembelajaran yang dirancang dan disusun dengan berpusat pada anak. Pemahaman anak sangat penting karena disitulah terjadi proses belajar. Melalui gadget, anak akan dapat mempelajari hal-hal baru dengan cara yang menyenangkan. Materi pelajaran akan disajikan dengan cara yang konkret dan menyenangkan sehingga proses belajar anak akan lebih bermakna. Misalnya, disajikan video tentang proses pertumbuhan tanaman, proses pernapasan, atau proses pencernaan pada manusia.</p>
                              <li>Permainan Edukatif</li>
                              <p>Gadget mampu mengemas materi pelajaran melalui permainan seru dan menyenangkan. Banyak permainan edukatif yang dapat meningkatkan kecerdasan otak. Melalui kegiatan bermain, anak bisa belajar dengan cara yang menyenangkan. Saat anak bermain, otak anak diajak untuk berpikir sehingga mereka tidak sadar kalau sedang belajar. Melalui permainan gadget, anak akan terlatih untuk menalar dan membangun kemampuan berpikir sehingga mampu memecahkan masalah di sekitarnya.</p>
                            </ol>
                        </div>                    
                      </div>
                    </div>
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li class="accordion-item"><a href="#" class="item-content item-link">
            <div class="item-inner">
              <div class="item-title">Latihan</div>
            </div></a>
          <div class="accordion-item-content">
            <div class="block">
              <p><strong>Untuk memperdalam pemahaman Anda mengenai materi pada kegiatan belajar 1, kerjakan latihan berikut.</strong> </p>
              <ol>
                <li>Jelaskan minimal 3 karakteristik dari media digital! </li>
                <li>Jelaskan minimal 3 dampak negatif dari media digital!</li>
                <li>Jelaskan minimal 3 dampak positif dari media digital!</li>
              </ol>
            </div>
          </div>
        </li>
        <li class="accordion-item"><a href="#" class="item-content item-link">
            <div class="item-inner">
              <div class="item-title">Petunjuk Jawaban Latihan</div>
            </div></a>
          <div class="accordion-item-content">
            <div class="block">
              <ol>
                <li>Bunda terlebih dahulu harus mengerti apa itu media digital dan macam-macamnya. Lalu, pilihlah salah satu contoh dari media digital yang Bunda ketahui dan kemudian cari tahu apa saja ciri-ciri media tersebut.</li>
                <li>Setelah Bunda mengetahui pengertian media digital, tentunya Bunda akan lebih mudah mengidentifikasi dampak negatif dari media digital jika digunakan secara berlebihan. Bunda dapat menyebutkan dampak negatif penggunaan media digital bagi anak dalam kehidupan seharihari.</li>
                <li>Sama seperti petunjuk no 2, Bunda dapat menyebutkan dampak positif yang telah dirasakan dalam kehidupan sehari-hari, khususnya untuk anak.</li>
              </ol>
            </div>
          </div>
        </li>
        <li class="accordion-item"><a href="#" class="item-content item-link">
            <div class="item-inner">
              <div class="item-title">Rangkuman</div>
            </div></a>
          <div class="accordion-item-content">
            <div class="block">
              <ol>
                <li>Media digital merupakan bentuk media elektronik yang menyimpan data dalam wujud digital sehingga dapat diakses di mana saja dan kapan saja. Adapun karakteristik media digital, meliputi interaktivitas, kebebasan berekspresi, akses cepat, jangkauan luas, gratis, hipertekstual, diversifikasi konten, bersifat maya, dan connected.</li>
                <li>Media digital mempunyai dampak positif dan dampak negatif tergantung cara penggunaannya. Dampak negatif dari media digital, meliputi 1) Paparan radiasi yang berlebihan, 2) menjadi pribadi yang malas, 3) Terciptanya sikap kurang disiplin, 4) Kelainan pada tulang belakang, 5) Sulit bersosialisasi, 6) Tumbuh kembang anak terhambat, 7) Menghambat perkembangan psikologis anak, 8) Mengubah perilaku anak, 9) Komunikasi antara anak dan orang tua menjadi jauh, dan 10) Menghambat kecerdasan emosional pada anak.</li>
                <li>Dampak positif dari media digital, yaitu 1) Melatih fungsi otak, 2) Meningkatkan kemampuan berbahasa, 3) Meningkatkan keterampilan matematis, 4) Meningkatkan ketajaman penglihatan, 5) Materi pelajaran yang inovatif, dan 6) Adanya permainan edukatif.</li>
              </ol>
            </div>
          </div>
        </li>
        <li class="accordion-item"><a href="#" class="item-content item-link">
            <div class="item-inner">
              <div class="item-title">Tes Formatif</div>
            </div></a>
          <div class="accordion-item-content">
            <div class="block">
              <p>Isi materi</p>
              <ol>
                <li>asd</li>
                <li>asd</li>
                <li>asd</li>
                <li>asd</li>
                <li>asd</li>
              </ol>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>

</div>
