<div class="page">
  <div class="navbar">
      <div class="statusbar"></div>
      <div class="panel panel-left panel-cover">
        <div class="page">
          <div class="page-content">
            <div class="block-title">Left Panel</div>
            <div class="block">
              <p>This is a left side panel. You can close it by clicking outsite or on this link: <a href="#" class="panel-close">close me</a>. You can put here anything, even another isolated view like in <a href="#" data-panel="right" class="panel-open">Right Panel</a></p>
            </div>
            <div class="block-title">Main View Navigation</div>
            <div class="list">
              <ul>
                <li>
                  <a href="/" class="item-link item-content panel-close">
                    <div class="item-media"><i class="icon icon-f7"></i></div>
                    <div class="item-inner">
                      <div class="item-title">Home</div>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="/pengantar/" class="item-link item-content panel-close">
                    <div class="item-media"><i class="icon icon-f7"></i></div>
                    <div class="item-inner">
                      <div class="item-title">Kegiatan Belajar ke 1</div>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="/panel-right-2/" class="item-link item-content panel-close">
                    <div class="item-media"><i class="icon icon-f7"></i></div>
                    <div class="item-inner">
                      <div class="item-title">Pendahuluan</div>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="/accordion/" class="item-link item-content panel-close">
                    <div class="item-media"><i class="icon icon-f7"></i></div>
                    <div class="item-inner">
                      <div class="item-title">Capaian Pembelajaran</div>
                    </div>
                  </a>
                </li>
                <li class="accordion-item">
                    <a href="#" class="item-link item-content">
                      <div class="item-media"><i class="icon icon-f7"></i></div>
                      <div class="item-inner">
                        <div class="item-title">Kegiatan Belajar</div>
                      </div>
                    </a>
                    <div class="accordion-item-content" style="" aria-hidden="true">
                      <div class="block">
                          <a href="#" class="item-link item-content">
                            <div class="item-media"></div>
                            <div class="item-inner">
                              <div class="item-title">Kegiatan 1</div>
                            </div>
                          </a>
                          <a href="#" class="item-link item-content">
                            <div class="item-media"></div>
                            <div class="item-inner">
                              <div class="item-title">Kegiatan 2</div>
                            </div>
                          </a>
                          <a href="#" class="item-link item-content">
                            <div class="item-media"></div>
                            <div class="item-inner">
                              <div class="item-title">Kegiatan 3</div>
                            </div>
                          </a>
                      </div>
                    </div>
                  </li>
                <li>
                  <a href="/accordion/" class="item-link item-content panel-close">
                    <div class="item-media"><i class="icon icon-f7"></i></div>
                    <div class="item-inner">
                      <div class="item-title">Glosarium</div>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="/accordion/" class="item-link item-content panel-close">
                    <div class="item-media"><i class="icon icon-f7"></i></div>
                    <div class="item-inner">
                      <div class="item-title">Daftar Pustaka</div>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="/profiles/" class="item-link item-content panel-close">
                    <div class="item-media"><i class="icon icon-f7"></i></div>
                    <div class="item-inner">
                      <div class="item-title">Profiles</div>
                    </div>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="view view-main view-init safe-areas" data-master-detail-breakpoint="800" data-url="/">
        <div class="page">
          <div class="navbar">
            <div class="navbar-inner">
              <div class="left">
                <a href="#" class="link icon-only panel-open" data-panel="left">
                  <i class="icon f7-icons ios-only">menu</i>
                  <i class="icon material-icons md-only">menu</i>
                </a>
              </div>
              <div class="title home-title">Pengantar</div>
            </div>
          </div>
        </div>
      </div>
  </div>
  <div class="page-content" style="background: url(assets/homee.png) no-repeat; background-position: center; background-size: cover;">
    <div class="block" style="text-align: center;">
      <strong>GENERASI DIGITAL</strong> 
    </div>
    <div class="text-align-center">
      <img src="../www/assets/img/uny.png" style="width:100px; height:auto;">
      <p>Gambar</p>
      <p>sumber</p>
    </div>
    <div class="block block-strong pengantar-paragraf" style="text-align: justify;">
      Pada kegiatan belajar 1, Bunda akan diajak untuk mempelajari tentang konsep dasar generasi digital. Oleh karena itu, setelah mempelajari kegiatan belajar 1, Anda diharapkan mampu:
      <ol>
        <li>Menjelaskan konsep dasar era digital.</li>
        <li>Menjelaskan hakikat digital natives.</li>
        <li>Membedakan tipe-tipe generasi digital.</li>
      </ol>
    </div>
    <div class="list accordion-list">
      <ul>
        <li class="accordion-item"><a href="#" class="item-content item-link">
            <div class="item-inner">
              <div class="item-title">Materi</div>
            </div></a>
          <div class="accordion-item-content">
            <div class="list accordion-list">
              <ul>
                <li class="accordion-item"><a href="#" class="item-content item-link">
                    <div class="item-inner item-inner-inner">
                      <div class="item-title">ERA DIGITAL</div>
                    </div></a>
                  <div class="accordion-item-content item-inner-inner">
                    <div class="block">                    
                      <div class="block" style="text-align: justify;">
                        <div class="block block-strong pengantar-paragraf">
                          <p>Anak-anak perlu disiapkan untuk menghadapi tantangan era digital. Era digital merupakan suatu masa di mana sebagian besar atau seluruh masyarakat menggunakan teknologi dalam kehidupan sehari-hari. Pada era digital, banyak hal yang perlu diketahui oleh Bunda tentang perkembangan teknologi. Banyaknya jenis teknologi yang muncul di era ini sehingga memungkinkan masyarakat untuk mengaksesnya. Salah satunya saja, yaitu internet. Internet merupakan komunikasi elektronik yang menghubungkan jaringan komputer dan fasilitas komputer yang terorganisasi di seluruh dunia melalui telepon atau satelit (Wulansari, 2017: 10). Melalui internet, Bunda akan mendapatkan berbagai informasi yang diinginkan. Informasi yang Bunda inginkan terdapat dalam websitewebsite yang terdapat di layanan internet.</p>
                          <p>Website merupakan sekumpulan halaman yang berisi tentang informasi dalam bentuk digital. Website inilah yang disediakan melalui internet sehingga dapat diakses oleh banyak orang di seluruh dunia yang memiliki koneksi atau sambungan internet. </p>
                          <p>Bunda sudah tau bukan tentang apa saja hal-hal yang berhubungan dengan era digital?.</p>
                          <p>Bunda, perkembangan teknologi digital ini tentu banyak dampak yang dirasakan dalam era digital ini, baik dampak positif maupun dampak negatif. Adapun dampak positif era digital yang perlu Bunda ketahui sebagai berikut.</p>
                          <ol>
                            <li>Cepat dan mudahnya pencarian informasi yang sedang dibutuhkan.</li>
                            <li>Munculnya media massa berbasis digital.</li>
                            <li>Meningkatnya kualitas sumber daya manusia.</li>
                            <li>Munculnya berbagai sumber belajar online.</li>
                            <li>Munculnya e-bisnis.</li>
                            <li>Tumbuhnya inovasi dan kreativitas dalam berbagai bidang.</li>
                          </ol>
                          <p>Adapun dampak negatif era digital yang harus diantisipasi agar terhindar dari kerugian, meliputi:</p>
                          <ol>
                            <li>Ancaman terjadinya pikiran instan pada anak sehingga menyebabkan anak berpikir pendek dan kurang konsentrasi.</li>
                            <li>Ancaman penyalahgunaan pengetahuan untuk melakukan tindak pidana.</li>
                            <li>Ancaman pelanggaran Hak Kekayaan Intelektual karena akses data mudah dan munculnya sikap plagiatisme.</li>
                          </ol>
                        </div>
                      </div>                    
                    </div>
                  </div>
                </li>
                <li class="accordion-item"><a href="#" class="item-content item-link">
                    <div class="item-inner">
                      <div class="item-title item-inner-inner">DIGITAL NATIVES</div>
                    </div></a>
                    <div class="accordion-item-content item-inner-inner">
                      <div class="block">                    
                        <div class="block" style="text-align: justify;">
                          <div class="block block-strong pengantar-paragraf">
                            <p>Sebelum kita membahas tentang digital natives, kita harus mengetahui apa itu revolusi digital. Revolusi digital merupakan perubahan budaya komunikasi dan perilaku masyarakat untuk beralih ke media yang serba cepat dan mudah. Revolusi digital terjadi sejak tahun 1980 hingga saat ini. Selain itu, revolusi digital telah mengubah cara pandang seseorang dalam menjalani hidup. Dalam era digital terdapat dua generasi yang berbeda, yaitu digital natives dan immigrant digital.</p>
                            <p>Digital natives merupakan generasi yang lahir di masa perkembangan teknologi digital berlangsung atau kelompok yang sudah mengenal internet. Ciri khas digital natives yang perlu Bunda ketahui, yaitu:</p>
                            <ol style="padding-bottom: 10px;">
                              <li>Banyaknya yang membuat akun di media sosial.</li>
                              <li>Cenderung memiliki pribadi terbuka dan berpola pikir agresif.</li>
                              <li>Cenderung tidak suka diatur dan menginginkan kebebasan.</li>
                              <li>Lebih aktif mengakses internet untuk keperluan belajarnya.</li>
                            </ol>
                            <div class="block">
                                <iframe width="auto" height="315" src="https://www.youtube.com/embed/DHCxsPeLyQk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div> 
                            <p>Sungguh menakjubkan bukan anak-anak digital natives yang                                 sudah sangat fasih dalam mengakses segala aplikasi dan layanan di gadgetnya. Mereka menganggap bahwa dengan menggunakan gadget akan mempermudah mereka dalam mencari segala sesuatu yang dibutuhkan. Namun, ternyata di sisi lain masih ada yang namanya immigrant digital. Bunda sudah tahu apa itu immigrant digital? Digital Immigrant merupakan generasi yang hidup di mana teknologi belum berkembang (sebelum tahun 1990). Orang yang hidup di generasi ini harus beradaptasi dengan berkembangnya teknologi sehingga banyak dari mereka terlihat gaptek. Pada umumnya, generasi ini perlu belajar terlebih dahulu dan tidak selalu mudah dalam mempelajari gadget masa kini. Ciri khas digital immigrant, yaitu:</p>
                            <ol>
                              <li>Lebih mengutamakan fungsi dasar, contohnya telepon hanya untuk menelepon dan mengirim pesan singkat.</li>
                              <li>Kurang peduli dengan kehidupan dunia maya. </li>
                              <li>Masih membutuhkan bantuan untuk mempelajari gadget masa kini (Wulansari, 2017: 13).</li>
                            </ol>
                            <p style="padding-bottom: 10px;">Digital immigrant memang kurang up to date tentang gadget, namun karena kurang pedulinya dengan perkembangan teknologi justru perilaku mereka dalam mendidik anak dapat dicontoh. Coba Bunda simak video di bawah ini yang menceritakan tentang orang tua zaman dulu dengan orang tua kekinian.</p>
                            <div class="block">
                                <iframe width="auto" height="315" src="https://www.youtube.com/embed/pKFfm5sN8SI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                            <p>Bagaimana menurut Bunda tentang video di atas? Berbeda kan perilaku dari orang tua di digital immigrant dengan orang tua di kehidupan generasi digital. Memang kita harus dapat mengikuti perkembangan teknologi saat ini, namun bukan berarti kita menjadi bergantung dan terpengaruh dengan dunia digital. Kita boleh menggunakan gadget namun untuk sesuatu yang bermanfaat sehingga nantinya sikap dan perilaku positif akan tertanam pada diri kita. Memang benar, sebagai orang tua perlu memberikan kebebasan pada anak, namun bukan berarti tidak adanya pengawasan sama sekali karena itu akan membuat anak menjadi lebih kurang terkontrol. Coba siapa yang tidak mau menjadi orang tua kekinian namun dapat mencetak generasi cerdas digital?</p>
                          </div>
                        </div>                    
                      </div>
                    </div>
                </li>
                <li class="accordion-item"><a href="#" class="item-content item-link">
                    <div class="item-inner">
                      <div class="item-title item-inner-inner">PERBEDAAN TIPE-TIPE GENERASI</div>
                    </div></a>
                    <div class="accordion-item-content item-inner-inner">
                      <div class="block">                    
                        <div class="block" style="text-align: justify;">
                          <div class="block block-strong pengantar-paragraf">
                            <p>Bunda, mungkin masih bingung dengan tipe-tipe generasi, bukan? Yuk, kita simak video di bawah ini!.</p>
                            <iframe width="auto" height="315" src="https://www.youtube.com/embed/u2Dx1m_75X8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            <p>Setelah melihat video di atas, apakah Bunda sudah mendapatkan pengetahuan tambahan tentang tipe-tipe generasi? Selanjutnya, saya akan menjelaskan lebih rinci tentang tipe-tipe generasi agar Bunda semakin memahami karakteristiknya. Dalam generasi digital immigrant terdapat jenis generasi Baby Boomers dan generasi X. Generasi digital natives terdapat generasi Y, Z, dan Alpha. Bunda pasti merasa kebingungan ya? Baiklah saya akan menjelaskan satu persatu agar Bunda tidak ketinggalan informasi.</p>
                            <ol style="padding-bottom: 10px;">
                              <li>Banyaknya yang membuat akun di media sosial.</li>
                              <li>Cenderung memiliki pribadi terbuka dan berpola pikir agresif.</li>
                              <li>Cenderung tidak suka diatur dan menginginkan kebebasan.</li>
                              <li>Lebih aktif mengakses internet untuk keperluan belajarnya.</li>
                            </ol>
                            <ol>
                              <li>Generasi Baby Boomers (1946-1960)</li>
                              <p> Generasi Baby Boomers lahir dan tumbuh di mana belum adanya teknologi modern dan minim lapangan kerja sehingga memiliki sifat kompetitif. Generasi ini berorientasi pada pencapaian, berdedikasi, dan berfokus pada karir. Generasi ini mempunyai tujuan penting yakni membahagiakan keluarganya (terutama anak-anak). Para baby boomers punya karakter setia kepada keluarga dan rela bekerja keras asalkan keturunannya bisa mendapatkan pendidikan setinggitingginya. Tak heran mereka memiliki rasa ingin tahu yang tinggi, mandiri, disiplin, sopan santun, dan optimis dengan pencapaian yang mereka telah lakukan. Bagaimana cara menyikapi generasi Baby Boomers </p>
                              <ol type="a">
                                <li>Bersikaplah sopan bahkan cara memanggil mereka pun haruslah menunjukkan penghormatan pada mereka. </li>
                                <li>Adat istiadat dan taat cara sopan santun menjadi cukup penting dalam berurusan dengan mereka.</li>
                                <li>Hargai pengalaman mereka dan mintalah pendapat mereka tentang sesuatu. </li>
                                <li>Dengarkanlah mereka, meskipun merekapun tidak menuntut harus dituruti tapi paling tidak dengarkanlah pertimbangan mereka.</li>
                                <li>Pahami kalau kadang mereka bersikap kaku, keras dan agak tegas dalam berbagai hal dan prinsip, hal ini terkait dengan pola asuh mereka.</li>
                              </ol>
                              <li>Generasi X (1961-1980)</li>
                              <p>Bunda, Gen X ini lahir tahun 1970an yang merupakan pribadi mandiri dan bersedia beradaptasi di lingkungan kerjanya. Kondisi tersebut membuat generasi X menjadi lebih mandiri dan mulai mencari alternatif selain pekerjaan formal yang menghabiskan banyak waktu. Karakteristik generasi X lainnya, yaitu mudah beradaptasi, loyal, menerima perubahan dengan baik dan dikatakan generasi yang tangguh, serta mengutamakan citra, ketenaran, dan uang (Wijanarko, dkk, 2016: 56).</p>
                              <p>Pola asuh orang tua generasi X membuat mereka lebih skeptis dan pesimis ketika menghadapi tantangan, namun membuat mereka lebih toleran, bersedia menerima berbagai perbedaan yang ada. Masa ketika mereka lahir saat itu teknologi informasi mulai masuk sehingga generasi ini dapat berpikir secara inovatif</p>
                              <p>Generasi X menyukai bekerja secara smart yaitu efisien dari segi cara dan waktu untuk mendapatkan hasil maksimal. Bagaimana cara menyikapi generasi X?</p>
                              <ol type="a">
                                <li>Puji dan apresiasilah pencapaian atau prestasi mereka ataupun kepemilikan mereka (posisi, barang, dll).</li>
                                <li>Libatkan mereka dalam diskusi, tetapi tidak perlu sesopan seperti memperlakukan Baby Boomer.</li>
                                <li>Kadang motivasi dengan menggunakan pain (apa akibat buruknya kalau tidak dikerjakan) lebih berdampak buat mereka daripada pleasure (apa iming-imingnya kalau dikerjakan).</li>
                                <li>Melakukan sesuatu dengan sebuah tujuan yang idealis, masih cukup mempan untuk menggerakkan mereka.</li>
                                <li>Pahami kalau kadang mereka bersikap kaku, keras dan agak tegas dalam berbagai hal dan prinsip, hal ini terkait dengan pola asuh mereka.</li>
                              </ol>
                              <li>Generasi Y (1981-1994)</li>
                              <p>Umumnya, generasi Y (milenial) menyukai hidup seimbang. Mereka pekerja keras tapi tetap mementingkan 'me time'. Generasi Y dikenal dapat diandalkan dalam hal kedisiplinan dan soal pemanfaatan teknologi (tech-savvy). Melalui kelebihan yang dimilikinya, generasi Y punya kepercayaan diri yang baik dan tetap menjunjung tinggi kritik dan saran dari orang lain.</p>
                              <p>Keseimbangan gaya hidup dan pekerjaan generasi Y membuat mereka cenderung mencari pekerjaan yang dapat menunjang gaya hidupnya dan tetap bisa melakukan hobi yang mereka suka. Bunda tahu tidak? Generasi yang lebih dikenal sebagai milenial ini punya passion yang besar dan sangat kreatif untuk membuat passion mereka menjadi sumber penghidupan. Mereka suka bekerja, suka berpetualang dan penuh gairah untuk melakukan hobi yang menjadi bagian penting dan pertumbuhan dan perkembangan pribadi generasi ini. Namun, kadang mereka sulit menerima proses yang lama atau cenderung tidak sabaran (Wijanarko, dkk, 2016: 58).</p>
                              <ol type="a">
                                <li>Tidak menyukai formalitas, langsung to the point dalam menyampaikan sesuatu kepada mereka.</li>
                                <li>Tidak suka main “agenda terselubung”, mereka ingin tahu isu yang sesungguhnya serta terlibat mendiskusikannya.</li>
                                <li>Mereka bisa bersikap emosional dan reaktif terhadap suatu kejadian, pahami gejolak mereka untuk membuktikan eksistensi mereka. Pahami dan nasihati dengan bijak.</li>
                                <li>Ajak brainstorming ide, mereka kadang bisa mengeluarkan ide-ide yang sangat kreatif</li>
                                <li>Bersikaplah egaliter jangan sok mendikte. Jadikanlah mereka sebagai sahabat.</li>
                              </ol>
                              <li>Generasi Z (1995-2010)</li>
                              <p>Bunda, generasi ini merupakan peralihan dari generasi Y di mana dengan perkembangan teknologi yang semakin berkembang membuat mereka sangat bergantung pada teknologi, gadget, dan aktivitas di media sosial. Bahkan mereka lebih memprioritaskan popularitas, jumlah followers dan like.</p>
                              <p>Bunda tahu tidak? Dilansir dari socialmediaweek.org, ternyata dalam hal konsumsi media sosial, generasi milenial menghabiskan rata-rata enam sampai tujuh jam per minggu di media sosial, sedangkan 44% dari Gen Z memeriksa media sosial mereka setidaknya setiap jam.</p>
                              <p>Ketergantungan teknologi khususnya sosial media membuat mereka suka dengan hasil instan dan cepat, cenderung keras kepala, dan selalu terburu-buru. Meski begitu, generasi ini suka dengan tantangan baru namun haus akan pujian. Aktivitas sosial dan bergaul menjadi favorit mereka sehingga mereka rela mengeluarkan banyak uang untuk bersenang-senang. Wijanarko, dkk (2016: 60) mengatakan bahwa generasi Z terbiasa dengan berbagai aktivitas dalam satu waktu yang bersamaan (multitasking), cenderung toleran dengan perbedaan kultur, kritis, dan ingin serba instan.</p>
                              <p>Para gen Z membutuhkan lingkungan yang banyak memberikan kebebasan untuk berkreasi dan kesempatan untuk menyalurkan ambisi mereka. Lalu, bagaimana cara menyikapi generasi Z?</p>
                              <ol type="a">
                                <li>Berilah tantangan serta proyek-proyek yang menantang untuk dikerjakan.</li>
                                <li>Terlibatlah dalam kehidupan mereka, termasuk ikuti sosial media mereka.</li>
                                <li>Lakukan sesuatu dengan cara yang lebih informal serta fun.</li>
                                <li>Hargai keterlibatan mereka dengan gadget dan kalau perlu kaitkan antara pekerjaan sekarang dengan penggunaan gadget tersebut.</li>
                                <li>Ciptakan lingkungan kerja dan hubungan yang lebih informal.</li> 
                                <li>Kenali diri mereka secara pribadi, termasuk hobi dan kebiasaan serta gunakan hal itu untuk mengapresiasi mereka secara personal.</li>
                              </ol>
                              <li>Generasi Alpha (2011-sekarang)</li>
                              <p>Lahir di zaman dengan teknologi yang berkembang pesat. Sejak dini mereka sudah familiar dengan gadget seperti smartphone atau laptop. Anak-anak Alpha akan tumbuh dengan gadget di tangan sampai-sampai tidak pernah bisa hidup tanpa smartphone. Dilansir Business Insider, situasi ketergantungan teknologi pada generasi Alpha membuat generasi ini menjadi paling transformatif dibandingkan generasi-generasi sebelumnya.</p>
                              <p>Karakteristik generasi Alpha lainnya, seperti menyukai segala sesuatu yang instan, sangat suka bergaul dan bersosialisasi, tidak memiliki pendirian, tidak menyukai aturan, serta gadget sudah menjadi kebutuhan mendasar bagi generasi ini. Pastinya, buah hati Bunda hidup di era sekarang, bukan? Hidup dikelilingi dengan perkembangan teknologi yang semakin modern.</p>
                              <p>Bunda tahu tidak, ternyata balik kelebihan anak generasi Alpha, mereka sangat membutuhkan peran dan kasih sayang orang tuanya. Butuh strategi khusus untuk mendidik anak yang terlahir pada generasi ini agar mereka tumbuh menjadi anak yang mahir dengan teknologi tapi tetap menghargai nilai-nilai kekeluargaan. Setiap generasi punya karakter yang berbeda dan punya cara sendiri untuk berekspresi.</p>
                              <p>Bagaimana cara menyikapi generasi Alpha? Caranya yaitu dengan menjadi ibu yang cerdas serta memberi anak permainan yang edukatif. Jika memang mereka memegang gadget sebaiknya ibu juga harus lebih berinteraksi dengannya. Pastikan ia mengenal aplikasi untuk belajar seluk beluk warna, bentuk hingga menirukan suara binatang. Lebih tepatnya, orang tua harus selalu mendampingi anak saat bermain gadget. Selain itu, orangtua perlu mengedukasi diri, memahami tahap usia, potensi bakat dan kepribadian anak generasi ini.</p>
                          </div>
                        </div>                    
                      </div>
                    </div>
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li class="accordion-item"><a href="#" class="item-content item-link">
            <div class="item-inner">
              <div class="item-title">Latihan</div>
            </div></a>
          <div class="accordion-item-content">
            <div class="block">
              <p><strong>Untuk memperdalam pemahaman Anda mengenai materi pada kegiatan belajar 1, kerjakan latihan berikut.</strong> </p>
              <ol>
                <li>Menurut Bunda, apa keuntungan dari adanya internet? </li>
                <li>Bagaimana dampak negatif dan positif dari era digital? Sebutkan masing-masing minimal 2!</li>
                <li>Sebutkan minimal 3 ciri khas dari digital natives?</li>
                <li>Sebutkan minimal 2 ciri khas dari digital immigrant?</li>
                <li>Sebutkan minimal 3 perbedaan dari tipe generasi Baby Boomers, Gen X, Gen Y, Gen Z, dan Gen Alpha!</li>
              </ol>
            </div>
          </div>
        </li>
        <li class="accordion-item"><a href="#" class="item-content item-link">
            <div class="item-inner">
              <div class="item-title">Rangkuman</div>
            </div></a>
          <div class="accordion-item-content">
            <div class="block">
              <ol>
                <li>Era digital merupakan suatu masa di mana sebagian besar atau seluruh masyarakat menggunakan teknologi dalam kehidupan seharihari. Adapun dampak positif era digital yang perlu Bunda, yaitu 1) Cepat dan mudahnya pencarian informasi yang sedang dibutuhkan; 2) Munculnya media massa berbasis digital; 3) Meningkatnya kualitas sumber daya manusia; 4) Munculnya berbagai sumber belajar online; 5) Munculnya e-bisnis; dan 6) Tumbuhnya inovasi dan kreativitas dalam berbagai bidang. Lalu, dampak negatif era digital yang harus diantisipasi agar terhindar dari kerugian, meliputi 1) Ancaman terjadinya pikiran instan pada anak sehingga menyebabkan anak berpikir pendek dan kurang konsentrasi; 2) Ancaman penyalahgunaan pengetahuan untuk melakukan tindak pidana; 3) Ancaman pelanggaran Hak Kekayaan Intelektual karena akses data mudah dan munculnya sikap plagiatisme.</li>
                <li>Digital natives merupakan generasi yang lahir di masa perkembangan teknologi digital berlangsung (dimulai tahun 1990) atau kelompok yang sudah mengenal internet. Ciri khas digital natives yang perlu Bunda ketahui, yaitu 1) Banyaknya yang membuat akun di media sosial; 2) Cenderung memiliki pribadi terbuka dan berpola pikir agresif; 3) Cenderung tidak suka diatur dan menginginkan kebebasan; 4) Lebih aktif mengakses internet untuk keperluan belajarnya. Digital Immigrant merupakan generasi yang hidup di mana teknologi belum berkembang (sebelum tahun 1990). Orang yang hidup di generasi ini harus beradaptasi dengan berkembangnya teknologi sehingga banyak dari mereka terlihat gaptek. Ciri khas digital immigrant, yaitu 1) Lebih mengutamakan fungsi dasar; 2) Kurang peduli dengan kehidupan dunia maya; dan 3) Masih membutuhkan bantuan untuk mempelajari gadget masa kini.</li>
                <li>Tipe-tipe generasi, meliputi 1) Generasi Baby Boomers (1946- 1960), di mana berorientasi pada pencapaian, berdedikasi, dan berfokus pada karir. Selain itu, punya karakter setia kepada keluarga, rela bekerja keras, memiliki rasa ingin tahu yang tinggi, mandiri, disiplin, sopan santun, dan optimis dengan pencapaian yang mereka telah lakukan; 2) Generasi X (1961-1980), di mana memiliki pribadi mandiri, bersedia beradaptasi, lebih skeptis dan pesimis, lebih toleran, bersedia menerima berbagai perbedaan yang ada, serta berpikir secara inovatif; 3) Generasi Y (1981-1994), di mana sangat menyukai hidup seimbang, pekerja keras tapi tetap mementingkan 'me time', dapat diandalkan dalam hal kedisiplinan dan soal pemanfaatan teknologi (tech-savvy), punya kepercayaan diri yang baik, tetap menjunjung tinggi kritik dan saran dari orang lain, punya passion yang besar dan sangat kreatif; 4) Generasi Z (1995-2010), di mana generasi ini sangat bergantung pada teknologi, lebih memprioritaskan popularitas, suka dengan hasil instan dan cepat, cenderung keras kepala, dan selalu terburu-buru, suka dengan tantangan baru, serta suka bersosialisasi; 5) Generasi Alpha (2011-sekarang); di mana mereka sudah familiar dengan gadget, paling transformatif, menyukai segala sesuatu yang instan, sangat suka bergaul dan bersosialisasi, tidak memiliki pendirian, tidak menyukai aturan, serta gadget sudah menjadi kebutuhan mendasar bagi generasi ini.</li>
              </ol>
            </div>
          </div>
        </li>
        <li class="accordion-item"><a href="#" class="item-content item-link">
            <div class="item-inner">
              <div class="item-title">Tes Formatif</div>
            </div></a>
          <div class="accordion-item-content">
            <div class="block">
              <p>Isi materi</p>
              <ol>
                <li>asd</li>
                <li>asd</li>
                <li>asd</li>
                <li>asd</li>
                <li>asd</li>
              </ol>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>

</div>
