<template>
  <div class="page">
    <div class="navbar">
      <div class="statusbar"></div>
      <div class="panel panel-left panel-cover">
        <div class="page">
          <div class="page-content">
            <div class="block-title">Left Panel</div>
            <div class="block">
              <p>This is a left side panel. You can close it by clicking outsite or on this link: <a href="#" class="panel-close">close me</a>. You can put here anything, even another isolated view like in <a href="#" data-panel="right" class="panel-open">Right Panel</a></p>
            </div>
            <div class="block-title">Main View Navigation</div>
            <div class="list">
              <ul>
                <li>
                  <a href="/" class="item-link item-content panel-close">
                    <div class="item-media"><i class="icon icon-f7"></i></div>
                    <div class="item-inner">
                      <div class="item-title">Home</div>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="/pengantar/" class="item-link item-content panel-close">
                    <div class="item-media"><i class="icon icon-f7"></i></div>
                    <div class="item-inner">
                      <div class="item-title">Pengantar</div>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="/panel-right-2/" class="item-link item-content panel-close">
                    <div class="item-media"><i class="icon icon-f7"></i></div>
                    <div class="item-inner">
                      <div class="item-title">Pendahuluan</div>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="/accordion/" class="item-link item-content panel-close">
                    <div class="item-media"><i class="icon icon-f7"></i></div>
                    <div class="item-inner">
                      <div class="item-title">Capaian Pembelajaran</div>
                    </div>
                  </a>
                </li>
                <li class="accordion-item">
                    <a href="#" class="item-link item-content">
                      <div class="item-media"><i class="icon icon-f7"></i></div>
                      <div class="item-inner">
                        <div class="item-title">Kegiatan Belajar</div>
                      </div>
                    </a>
                    <div class="accordion-item-content" style="" aria-hidden="true">
                      <div class="block">
                          <a href="#" class="item-link item-content">
                            <div class="item-media"></div>
                            <div class="item-inner">
                              <div class="item-title">Kegiatan 1</div>
                            </div>
                          </a>
                          <a href="#" class="item-link item-content">
                            <div class="item-media"></div>
                            <div class="item-inner">
                              <div class="item-title">Kegiatan 2</div>
                            </div>
                          </a>
                          <a href="#" class="item-link item-content">
                            <div class="item-media"></div>
                            <div class="item-inner">
                              <div class="item-title">Kegiatan 3</div>
                            </div>
                          </a>
                      </div>
                    </div>
                  </li>
                <li>
                  <a href="/accordion/" class="item-link item-content panel-close">
                    <div class="item-media"><i class="icon icon-f7"></i></div>
                    <div class="item-inner">
                      <div class="item-title">Glosarium</div>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="/accordion/" class="item-link item-content panel-close">
                    <div class="item-media"><i class="icon icon-f7"></i></div>
                    <div class="item-inner">
                      <div class="item-title">Daftar Pustaka</div>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="/profiles/" class="item-link item-content panel-close">
                    <div class="item-media"><i class="icon icon-f7"></i></div>
                    <div class="item-inner">
                      <div class="item-title">Profiles</div>
                    </div>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="view view-main view-init safe-areas" data-master-detail-breakpoint="800" data-url="/">
        <div class="page">
          <div class="navbar">
            <div class="navbar-inner">
              <div class="left">
                <a href="#" class="link icon-only panel-open" data-panel="left">
                  <i class="icon f7-icons ios-only">menu</i>
                  <i class="icon material-icons md-only">menu</i>
                </a>
              </div>
              <div class="title home-title">Pengantar</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="list-index"></div>
    <div class="page-content">
      <div class="list simple-list contacts-list">
        <div class="list-group">
          <ul>
            <li class="list-group-title">A</li>
            <li>Aaron</li>
            <li>Adam</li>
            <li>Aiden</li>
            <li>Albert</li>
            <li>Alex</li>
            <li>Alexander</li>
            <li>Alfie</li>
            <li>Archie</li>
            <li>Arthur</li>
            <li>Austin</li>
          </ul>
        </div>
        <div class="list-group">
          <ul>
            <li class="list-group-title">B</li>
            <li>Benjamin</li>
            <li>Blake</li>
            <li>Bobby</li>
          </ul>
        </div>
        <div class="list-group">
          <ul>
            <li class="list-group-title">C</li>
            <li>Caleb</li>
            <li>Callum</li>
            <li>Cameron</li>
            <li>Charles</li>
            <li>Charlie</li>
            <li>Connor</li>
          </ul>
        </div>
        <div class="list-group">
          <ul>
            <li class="list-group-title">D</li>
            <li>Daniel</li>
            <li>David</li>
            <li>Dexter</li>
            <li>Dylan</li>
          </ul>
        </div>
        <div class="list-group">
          <ul>
            <li class="list-group-title">E</li>
            <li>Edward</li>
            <li>Elijah</li>
            <li>Elliot</li>
            <li>Elliott</li>
            <li>Ethan</li>
            <li>Evan</li>
          </ul>
        </div>
        <div class="list-group">
          <ul>
            <li class="list-group-title">F</li>
            <li>Felix</li>
            <li>Finlay</li>
            <li>Finley</li>
            <li>Frankie</li>
            <li>Freddie</li>
            <li>Frederick</li>
          </ul>
        </div>
        <div class="list-group">
          <ul>
            <li class="list-group-title">G</li>
            <li>Gabriel</li>
            <li>George</li>
          </ul>
        </div>
        <div class="list-group">
          <ul>
            <li class="list-group-title">H</li>
            <li>Harley</li>
            <li>Harrison</li>
            <li>Harry</li>
            <li>Harvey</li>
            <li>Henry</li>
            <li>Hugo</li>
          </ul>
        </div>
        <div class="list-group">
          <ul>
            <li class="list-group-title">I</li>
            <li>Ibrahim</li>
            <li>Isaac</li>
          </ul>
        </div>
        <div class="list-group">
          <ul>
            <li class="list-group-title">J</li>
            <li>Jack</li>
            <li>Jacob</li>
            <li>Jake</li>
            <li>James</li>
            <li>Jamie</li>
            <li>Jayden</li>
            <li>Jenson</li>
            <li>Joseph</li>
            <li>Joshua</li>
            <li>Jude</li>
          </ul>
        </div>
        <div class="list-group">
          <ul>
            <li class="list-group-title">K</li>
            <li>Kai</li>
            <li>Kian</li>
          </ul>
        </div>
        <div class="list-group">
          <ul>
            <li class="list-group-title">L</li>
            <li>Leo</li>
            <li>Leon</li>
            <li>Lewis</li>
            <li>Liam</li>
            <li>Logan</li>
            <li>Louie</li>
            <li>Louis</li>
            <li>Luca</li>
            <li>Lucas</li>
            <li>Luke</li>
          </ul>
        </div>
        <div class="list-group">
          <ul>
            <li class="list-group-title">M</li>
            <li>Mason</li>
            <li>Matthew</li>
            <li>Max</li>
            <li>Michael</li>
            <li>Mohammad</li>
            <li>Mohammed</li>
            <li>Muhammad</li>
          </ul>
        </div>
        <div class="list-group">
          <ul>
            <li class="list-group-title">N</li>
            <li>Nathan</li>
            <li>Noah</li>
          </ul>
        </div>
        <div class="list-group">
          <ul>
            <li class="list-group-title">O</li>
            <li>Oliver</li>
            <li>Ollie</li>
            <li>Oscar</li>
            <li>Owen</li>
          </ul>
        </div>
        <div class="list-group">
          <ul>
            <li class="list-group-title">R</li>
            <li>Reuben</li>
            <li>Riley</li>
            <li>Robert</li>
            <li>Ronnie</li>
            <li>Rory</li>
            <li>Ryan</li>
          </ul>
        </div>
        <div class="list-group">
          <ul>
            <li class="list-group-title">S</li>
            <li>Samuel</li>
            <li>Sebastian</li>
            <li>Seth</li>
            <li>Sonny</li>
            <li>Stanley</li>
          </ul>
        </div>
        <div class="list-group">
          <ul>
            <li class="list-group-title">T</li>
            <li>Teddy</li>
            <li>Theo</li>
            <li>Theodore</li>
            <li>Thomas</li>
            <li>Toby</li>
            <li>Tommy</li>
            <li>Tyler</li>
          </ul>
        </div>
        <div class="list-group">
          <ul>
            <li class="list-group-title">W</li>
            <li>William</li>
          </ul>
        </div>
        <div class="list-group">
          <ul>
            <li class="list-group-title">Z</li>
            <li>Zachary</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  return {
    data: function () {
      return {};
    },
    on: {
      pageBeforeRemove(e, page) {
        var self = this;
        // Destroy list index instance on page remove
        if (self.listIndex) {
          self.listIndex.destroy();
        }
      },
      pageInit: function (e, page) {
        var self = this;
        var app = self.$app;
        // Create list index instance
        self.listIndex = app.listIndex.create({
          // List el where to look indexes and scroll for
          listEl: self.$el.find('.list'),
          // ".list-index" element
          el: self.$el.find('.list-index'),
          // Generate indexes automatically based on ".list-group-title" and ".item-divider"
          indexes: 'auto',
          // Scroll list on indexes click and touchmove
          scrollList: true,
          // Enable bubble label when swiping over indexes
          label: true,
        });
      }
    },
  }
</script>