<div class="page">
  <div class="navbar">
        <div class="statusbar"></div>
        <div class="panel panel-left panel-cover">
          <div class="page">
            <div class="page-content">
              <div class="block bg-sidemenu" style="background: url(assets/bg-menu.jpg) no-repeat; background-size:cover; background-position: center;"></div>
              <div class="list" style="margin: 0px !important">
                <ul>
                  <li>
                    <a href="/" class="item-link item-content panel-close">
                      <div class="item-media"><i class="ion ion-ios-home"></i></div>
                      <div class="item-inner">
                        <div class="item-title">Home</div>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href="/pengantar/" class="item-link item-content panel-close">
                      <div class="item-media"><i class="ion ion-ios-book"></i></div>
                      <div class="item-inner">
                        <div class="item-title">Pengantar</div>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href="/pendahuluan/" class="item-link item-content panel-close">
                      <div class="item-media"><i class="ion ion-ios-document"></i></div>
                      <div class="item-inner">
                        <div class="item-title">Pendahuluan</div>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href="/capaian/" class="item-link item-content panel-close">
                      <div class="item-media"><i class="ion ion-ios-locate"></i></div>
                      <div class="item-inner">
                        <div class="item-title">Capaian Pembelajaran</div>
                      </div>
                    </a>
                  </li>
                  <li class="accordion-item">
                      <a href="#" class="item-link item-content">
                        <div class="item-media"><i class="ion ion-ios-journal"></i></div>
                        <div class="item-inner">
                          <div class="item-title">Kegiatan Belajar</div>
                        </div>
                      </a>
                      <div class="accordion-item-content" style="" aria-hidden="true">
                        <div class="block">
                            <a href="/kegiatan1/" class="item-link item-content panel-close">
                              <div class="item-media"></div>
                              <div class="item-inner">
                                <div class="item-title">Kegiatan 1</div>
                              </div>
                            </a>
                            <a href="/kegiatan2/" class="item-link item-content panel-close">
                              <div class="item-media"></div>
                              <div class="item-inner">
                                <div class="item-title">Kegiatan 2</div>
                              </div>
                            </a>
                            <a href="/kegiatan3/" class="item-link item-content panel-close">
                              <div class="item-media"></div>
                              <div class="item-inner">
                                <div class="item-title">Kegiatan 3</div>
                              </div>
                            </a>
                        </div>
                      </div>
                    </li>
                  <li>
                    <a href="/list-index/" class="item-link item-content panel-close">
                      <div class="item-media"><i class="ion ion-ios-list-box"></i></div>
                      <div class="item-inner">
                        <div class="item-title">Glosarium</div>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href="/daftarpustaka/" class="item-link item-content panel-close">
                      <div class="item-media"><i class="ion ion-ios-briefcase"></i></div>
                      <div class="item-inner">
                        <div class="item-title">Daftar Pustaka</div>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href="/petunjuk/" class="item-link item-content panel-close">
                      <div class="item-media"><i class="ion ion-ios-help-circle"></i></div>
                      <div class="item-inner">
                        <div class="item-title">Petunjuk</div>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href="/profile/" class="item-link item-content panel-close">
                      <div class="item-media"><i class="ion ion-ios-person"></i></div>
                      <div class="item-inner">
                        <div class="item-title">Profiles</div>
                      </div>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="view view-main view-init safe-areas" data-master-detail-breakpoint="800" data-url="/">
          <div class="page">
            <div class="navbar">
              <div class="navbar-inner">
                <div class="left">
                  <a href="#" class="link icon-only panel-open" data-panel="left">
                    <i class="icon f7-icons ios-only">menu</i>
                    <i class="icon material-icons md-only">menu</i>
                  </a>
                </div>
                <div class="title home-title">Pendahuluan</div>
              </div>
            </div>
          </div>
        </div>
  </div>
  <div class="page-content" style="background: url(assets/homee.png) no-repeat; background-position: center; background-size: cover;">
    <!-- <div class="block-title text-align-center">
      <h1>Pengantar Penulis</h1>
    </div> -->
    <div class="block" style="text-align: justify;">
      <div class="block block-strong inset pengantar-paragraf">
        <p>Generasi digital merupakan generasi yang lahir dan tumbuh dalam kemudahan akses informasi digital dan teknologi informasi. Fasilitas teknologi ini yang menyebabkan generasi digital merasa nyaman dan menjadikan teknologi sebagai bagian penting dalam kehidupannya. Banyak dampak yang didapat dari adanya perkembangan teknologi baik dampak positif maupun dampak negatif. Untuk mencegah timbulnya dampak negatif dari teknologi, perlu adanya perhatian bagi orang tua, khususnya bagi anak-anak. Hal ini dikarenakan anak-anak telah menjadikan teknologi sebagai kehidupan utamanya, di mana mereka tidak bisa jauh-jauh dari namanya gadget.</p>
        <p>Salah satu peran penting orang tua, yaitu mendidik dan membimbing anak agar dapat menjadi generasi penerus yang bermanfaat. Banyak orang tua yang masih mengeluh karena merasa sulit mendidik anak, apalagi yang telah dikelilingi dengan perkembangan teknologi sekarang. Oleh karena itu, Ebook ini akan menyajikan empat kegiatan pembelajaran yang mempunyai tujuan instruksional umum, yaitu agar orang tua mampu menjelaskan cara mendidik generasi cerdas digital.</p>
        <p>Jika Bunda dapat mencapai tujuan umum tersebut, maka Bunda akan menguasai tujuan instruksional khusus yang telah ditetapkan, yaitu:</p>
        <ol>
          <li>Mampu menjelaskan konsep dasar generasi digital.</li>
          <li>Mampu menguraikan konsep dasar penggunaan media digital.</li>
          <li>Mampu menjabarkan cara menjadi ibu cerdas mendidik anak.</li>
          <li>Mampu menjelaskan cara mengatasi kecanduan gadget dan fitur parental control.</li>
        </ol>
        <p>Untuk keberhasilan Bunda dalam belajar, ikutilah semua petunjuk dengan cermat. Bacalah uraian berulang-ulang, cari contoh lain yang serupa, kerjakan latihan secara disiplin, dan bacalah rangkuman sebelum mengerjakan tes formatif. Jika Bunda menunjukkan disiplin yang tinggi dalam belajar, maka Bunda pasti berhasil dan secara berangsur-angsur Bunda akan menjadi sosok orang tua yang siap menghadapi perkembangan teknologi dan siap mendidik anak era sekarang.</p>
        <p>Tips agar Bunda dapat dengan mudah mempelajari isi dari modul ini dan mencapai tujuan instruksional yang telah ditetapkan, maka diharapkan belajar berdasarkan sistematika berikut:</p>
        <ol>
          <li>Bacalah dengan cermat pengantar dan capaian pembelajaran yang sudah terdapat di Ebook.</li>
          <li>Apabila anda sudah memahaminya, lanjutkan membaca materi yang telah disajikan.</li>
          <li>Selain itu, kerjakan soal-soal latihan yang terdapat pada akhir uraian materi. Terdapat petunjuk jawaban latihan yang dapat membantu Bunda menjawab Latihan Soal yang diberikan.</li>
          <li>Setelah Latihan Soal dikerjakan dengan baik, Bunda dapat mengerjakan Tes Formatif yang terdapat dibagian akhir dari setiap kegiatan belajar.</li>
          <li>Apabila 80% jawaban Tes Formatif yang Bunda jawab benar, Bunda dapat melanjutkan ke kegiatan belajar berikutnya dengan langkah-langkah seperti diatas (butir 1 sampai dengan 4). Tetapi, apabila jawaban yang benar dari Tes Formatif Bunda masih kurang dari 80%, sebaiknya Bunda mengulang kembali dengan mempelajari materi yang sama.</li>
          <li>Lakukan tahap 1 sampai dengan 6 hingga Bunda menyelesaikan seluruh rangkaian materi yang ada pada Ebook ini.</li>
        </ol>
      </div>
    </div>
  </div>
</div>
