<div class="page">
  <div class="navbar">
        <div class="statusbar"></div>
        <div class="panel panel-left panel-cover">
          <div class="page">
            <div class="page-content">
              <div class="block bg-sidemenu" style="background: url(assets/bg-menu.jpg) no-repeat; background-size:cover; background-position: center;"></div>
              <div class="list" style="margin: 0px !important">
                <ul>
                  <li>
                    <a href="/" class="item-link item-content panel-close">
                      <div class="item-media"><i class="ion ion-ios-home"></i></div>
                      <div class="item-inner">
                        <div class="item-title">Home</div>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href="/pengantar/" class="item-link item-content panel-close">
                      <div class="item-media"><i class="ion ion-ios-book"></i></div>
                      <div class="item-inner">
                        <div class="item-title">Pengantar</div>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href="/pendahuluan/" class="item-link item-content panel-close">
                      <div class="item-media"><i class="ion ion-ios-document"></i></div>
                      <div class="item-inner">
                        <div class="item-title">Pendahuluan</div>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href="/capaian/" class="item-link item-content panel-close">
                      <div class="item-media"><i class="ion ion-ios-locate"></i></div>
                      <div class="item-inner">
                        <div class="item-title">Capaian Pembelajaran</div>
                      </div>
                    </a>
                  </li>
                  <li class="accordion-item">
                      <a href="#" class="item-link item-content">
                        <div class="item-media"><i class="ion ion-ios-journal"></i></div>
                        <div class="item-inner">
                          <div class="item-title">Kegiatan Belajar</div>
                        </div>
                      </a>
                      <div class="accordion-item-content" style="" aria-hidden="true">
                        <div class="block">
                            <a href="/kegiatan1/" class="item-link item-content panel-close">
                              <div class="item-media"></div>
                              <div class="item-inner">
                                <div class="item-title">Kegiatan 1</div>
                              </div>
                            </a>
                            <a href="/kegiatan2/" class="item-link item-content panel-close">
                              <div class="item-media"></div>
                              <div class="item-inner">
                                <div class="item-title">Kegiatan 2</div>
                              </div>
                            </a>
                            <a href="/kegiatan3/" class="item-link item-content panel-close">
                              <div class="item-media"></div>
                              <div class="item-inner">
                                <div class="item-title">Kegiatan 3</div>
                              </div>
                            </a>
                        </div>
                      </div>
                    </li>
                  <li>
                    <a href="/list-index/" class="item-link item-content panel-close">
                      <div class="item-media"><i class="ion ion-ios-list-box"></i></div>
                      <div class="item-inner">
                        <div class="item-title">Glosarium</div>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href="/daftarpustaka/" class="item-link item-content panel-close">
                      <div class="item-media"><i class="ion ion-ios-briefcase"></i></div>
                      <div class="item-inner">
                        <div class="item-title">Daftar Pustaka</div>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href="/petunjuk/" class="item-link item-content panel-close">
                      <div class="item-media"><i class="ion ion-ios-help-circle"></i></div>
                      <div class="item-inner">
                        <div class="item-title">Petunjuk</div>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href="/profile/" class="item-link item-content panel-close">
                      <div class="item-media"><i class="ion ion-ios-person"></i></div>
                      <div class="item-inner">
                        <div class="item-title">Profiles</div>
                      </div>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="view view-main view-init safe-areas" data-master-detail-breakpoint="800" data-url="/">
          <div class="page">
            <div class="navbar">
              <div class="navbar-inner">
                <div class="left">
                  <a href="#" class="link icon-only panel-open" data-panel="left">
                    <i class="icon f7-icons ios-only">menu</i>
                    <i class="icon material-icons md-only">menu</i>
                  </a>
                </div>
                <div class="title home-title">Pengantar</div>
              </div>
            </div>
          </div>
        </div>
  </div>
  <div class="page-content" style="background: url(assets/homee.png) no-repeat; background-position: center; background-size: cover;">
    <!-- <div class="block-title text-align-center">
      <h1>Pengantar Penulis</h1>
    </div> -->
    <div class="block" style="text-align:justify;">
      <div class="block block-strong inset pengantar-paragraf">
        <p> Puji syukur kehadirat Allah SWT yang telah memberikan hidayah-Nya sehingga penyusunan Modul Mendidik Generasi Cerdas Digital dapat terselesaikan dengan baik. Modul ini disusun dengan maksud untuk memberikan wawasan tentang media digital dan cara mendidik anak di era digital. Buku ini diperuntukkan bagi orang tua era digital maupun calon orang tua.</p>
        <p> Buku ini berisikan materi-materi tentang media digital, generasi digital, cara mendidik anak era digital, maupun aplikasi penunjang bagi pendidikan anak. Modul ini disusun mengacu pada analisis kebutuhan dari lingkungan target peneliti. Penyusunan ini dilatarbelakangi oleh banyaknya orang tua muda yang sudah melakukan pernikahan dini maupun karena terjebak dari dampak negatif gadget sehingga menyebabkan remaja hamil di luar nikah.</p>
        <p> Mendidik anak di era sekarang sangatlah penting bagi orang tua agar kelak dapat menciptakan generasi yang siap menghadapi tantangan global. Oleh karena itu, penulis mengembangkan modul ini agar membantu orang tua khususnya ibu untuk lebih mengenal media digital, generasi digital, cara mendidik era digital, cara memproteksi layanan internet, maupun aplikasi-aplikasi penunjang pendidikan anak.</p>
        <p> Penulis sadar bahwa modul ini masih jauh dari kesempurnaan, sehingga kritik dan saran dari berbagai pihak sangat diharapkan. Semoga modul ini bermanfaat dan selamat belajar.</p>
      </div>
    </div>
    <div class="block">
      <div class="block" style="text-align: right;">
        <p>Yogyakarta, Februari 2019</p>
        <p>Penulis</p>
      </div>
    </div>
  </div>
</div>
