/* Sidemenu */
.bg-sidemenu {
    background-size: cover;
    height: 150px;
    margin: 0px !important;
}

.item-link.item-content i {
    font-size: 20px;
}

.item-link .item-inner:before {
    /* display: none !important;  */
}

/* Index */
.home-title {
    text-align: center !important;
    padding-right: 64px;
    width: 100%;
}

.home-content {
    padding-top: 20vh;
    /* background: url(../assets/img/bg-home.jpg) center no-repeat; */
    /* background-size: cover; */
}

.home-credit {
    margin-top: auto;
    margin-bottom: auto;
}

.home-credit p {
    /* padding-top: 3px; */
    line-height: 1px;
    text-align: right;
    font-size: 10px;
}

.block-1-home {    
    padding: 15px;
    background: blue;
    color: #fff;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.pull-bottom-right {
    position: absolute;
    bottom: 0;
    right: 10%;
}

.item-inner {
    /* background: #ededed; */
}

.item-inner-inner {
    padding: 0 0 0 20px;
}

/* Pengantar */
.pengantar-paragraf p {
    text-indent: 1.5em;
}

/* Petunjuk */
.item-title-row::before {
    display: none !important;
}